// Footer styles

footer {
	position: relative;
	float: left;
	width: 100%;
	background: rgba($black, 86/100);

	a:link,
	a:visited {
		color: $white;
	}

  p {
    color: $white;
  }
}

img.branded-symbol {
	width: 118px;
}