// Fonts

$headline:            'Montserrat', sans-serif;
$copy:                'Sorts Mill Goudy', serif;





// Standard Colors

$white:               #ffffff;
$black:               #1A1919;
$lt-grey:							#f9f9f9;
$bg:									#fbfbfb;





// Font colors

$copy-color:					#636363;





// Site specific colors

$bg:									#f2f2f2;
$border-color:				#e6e6e6;

$primary-color:				#0060FB;
$secondary-color:     #B5984C;
$third-color:         #0B3662;