// Fonts

$headline:            'Montserrat', sans-serif;
$copy:                'Sorts Mill Goudy', serif;





// Standard Colors

$white:               #ffffff;
$black:               #191919;
$lt-grey:							#f9f9f9;





// Font colors

$copy-color:					#757575;





// Site specific colors

$bg:									#f2f2f2;
$border-color:				#e6e6e6;

$primary-color:				#688649;
$secondary-color:     #4A4A49;
$third-color:         #0B3662;